PORT=8080
GCP_PROJECT_ID=certifyos-development
GCP_REGION=us-central1
GCP_SPANNER_INSTANCE_ID=app-data
GCP_SPANNER_DATABASE_ID=dal-dev
SHUTDOWN_TIMEOUT=30
SHUTDOWN_DELAY_ENABLED=true
SHUTDOWN_DELAY=10